<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/header.ejs')  %>
    <title>Crear <%= letrero%></title>
</head>
<body>
    <%- include('./partials/navbar.ejs') %>
    <% var fechas=[] %>  
    <div class="container-fluid">   
        <div class="row m-2">
            <p class="h1">Crear <%= letrero%></p>
        </div>
        <form action="/<%= ruta %>/create" method="post">
            <% for( const property in dato){ %>
                <% if (property!="Creado"&&property!="Actualizado"&&property!="id") {%>
                    <div class="p-2 row m-3">
                    <div class="border-secondary border p-2 rounded">
                    <span class="h6"><%= property %></span>
                    <div>
                        <input id="<%= property %>" type="text" name="<%= property %>" value="" class="form-control" required>
                    </div>
                    </div>
                    </div>    
                <% } else if(dato[property]instanceof Date) fechas.push(property)
            } %>  
            <div class="row p-2 m-3">
                <button type="submit" class="btn btn-primary">Crear <%= letrero%></button>
            </div>
        </form>
        <span class="row p-2 m-3"><a class="btn btn-secondary" href="/<%= ruta%>">Volver a listado de <%= ruta %></a></span>
    </div>
    <script src="/js/timepicker.js"></script>
    <script data-fechas="<%= JSON.stringify(fechas) %>">
        const fechas=JSON.parse(document.currentScript.dataset.fechas)
        var datetime=require('datetime')
        $(document).ready(()=>{
            for(var i=0;i<fechas.length;i++){
                datetime(fechas[i])
            }
        })
    </script>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>