<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/header.ejs')  %>
    <title>Editar <%= letrero%></title>
</head>
<body>
    <%- include('./partials/navbar.ejs') %> 
    <% var timestamps=false
    var fechas=[]
    %> 
    <div class="container-fluid">
    <div class="row m-2"><p class="h1">Detalle <%= letrero %></p></div>
    <form action="/<%=ruta%>/update/<%= dato.id %>?_method=put" method="post">
    
        <% for(const property in dato){%>
        <div class="row p-2 m-3"> 
            <div class="border-secondary border p-2 rounded">
            <div><p class="h6"><%= property %></p></div>
            <div>
            <input id="<%=  property%>" type="text" name="<%= property %>" value="<%= dato[property] %>"class="form-control" required>    
            <% if(dato[property]instanceof Date) {%>
                <% if(property=='Creado'||property=='Actualizado') timestamps=true
                else fechas.push(property)%>
            <% } %> 
            </div>
        </div>
          </div>  
        
        <% } %>
        <div class="p-2 row m-3">
            <button type="submit" class="btn btn-primary">Modificar <%=letrero%></button>
        </div>
        </form>
        <form class="row p-2 m-3" action="/<%=ruta%>/delete/<%=dato.id%>?_method=PUT" method="post">
            <button type="submit" class="btn btn-primary" onclick=eliminar()>Borrar <%= letrero%></button>
        </form>    
        <div class="row m-3 p-2">
            <a class='btn btn-secondary' href="/<%=ruta%>">Volver a listado de <%= ruta %></a>
        </div>
    </div>
    <script src="/js/timepicker.js"></script>
    <script data-letrero="<%= letrero %>" data-timestamps="<%= timestamps %>" data-fechas="<%= JSON.stringify(fechas) %>">
        const timestamps=document.currentScript.dataset.timestamps
        const letrero=document.currentScript.dataset.letrero
        const fechas=JSON.parse(document.currentScript.dataset.fechas)
        var datetime=require('datetime')
        $(document).ready(()=>{
            document.getElementById('id').disabled=true
            if(timestamps=="true"){
                document.getElementById('Creado').disabled=true
                document.getElementById('Actualizado').disabled=true
            }
            for(var i=0;i<fechas.length;i++){
                datetime(fechas[i])
            }
        }
        ) 
        function eliminar(){
            alert("Eliminación de "+letrero+" realizada")
        }
    </script>
    <%- include('./partials/footer.ejs')%>
</body>
</html>