<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/header.ejs') %> 
    <title>Listado de <%= ruta %> </title>
</head>
<body>
    
    <%- include('./partials/navbar.ejs') %> 
    <div class="container-fluid">
        <div class="row m-2"><p class="h1">Listado de <%= ruta %></p></div>
        <% for(i=0;i<lista.length;i++){%>
            <div class="p-2">
            <a href="/<%= ruta %>/detail/<%= lista[i].id %>" class="text-decoration-none">
            <div class="border border-secondary rounded m-3 p-2 row" role="button">
            <% for (const property in lista[i]) { %>
                <div class="row">
                    <span class="m-1 h6 text-primary"><%=property%>: </span><span class="m-1 text-dark"><%=lista[i][property]%></span>
                </div>
            <% } %> 
            </div>
            </a>
        </div>
        <% } %>
        <div class="row p-2 m-3"><a class='btn btn-primary' href="/<%=ruta%>/add">
            Crear <%=letrero%></a>
        </div>
    </div>
    <%- include('./partials/footer.ejs')  %> 
</body>
</html>